
// Font NewYork
@font-face {
    font-family: "New York";
    src: url(../src/fonts/NewYork/NewYork.otf);
    font-weight: 400;
    font-style: normal;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-ExtraLight.ttf);
    font-weight: 100;
    font-style: normal;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-Italic.ttf);
    font-weight: 300;
    font-style: italic;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
}

// Font Montserrat
@font-face {
    font-family: "Montserrat";
    src: url(../src/fonts/Montserrat/Montserrat-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}