.c-card{

    border: 1px solid $white;
    border-radius: 140px;
    padding: 70px 30px;

    h1{
        font-family: $font-family-base;
    }

    img{
        filter: grayscale(1);
        transition: all .3s ease;

        &:hover{
            filter: grayscale(0);
        }
    }

    .copy{
        font-size: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        border-radius: 100%;
        font-weight: 300;
        position: absolute; 
    }

    .fs-12{
        font-size: 10px;
    }

    &__rs{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 100%;
        opacity: .5;
        transition: all .3s ease;
        font-size: 18px;

        &:hover{
            background-color: $white;
            opacity: 1;

            i{
                color: $dark;
            }
        }
    }

    @media(min-width: 992px) and (max-width: 1399px){
        border-radius: 150px;
        padding: 50px 30px;
    }

}

.c-card-project{
    display: block;
    overflow: hidden;

    &__image{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 300px;
        transition: all .3s ease;

        &:hover{
            transform: scale(1.1);
        }

        @media(min-width: 992px) and (max-width: 1399px){
            height: 240px;
        }
    }
    
}

.c-card-depoimento{

    &__image{
        object-fit: cover;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    &__bar{
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            top: -16.5px;
            left: 0;
            width: 1px;
            height: 29px;
            background: $primary;
        }

        &::after {
            content: '';
            position: absolute;
            top: 12px;
            left: 0;
            width: 19px;
            height: 1px;
            background: $primary;
        }

    }

    @include media-breakpoint-down(sm){
        &__image{
            width: 200px;
            height: 200px;
        }

        &__bar{
            &::before, &::after{
                content: none;
            }
        }
    }
}