.text-gradient{
    background: linear-gradient(90deg, $white 40%, #959595 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sc-container{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // scroll-snap-align: start;

    &:nth-of-type(1){

        &::before{
            content: "";
            top: 95px;
            position: absolute;
            width: 100%;
            height: 1px;
            background: #fff;
        }
        
    }

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #fff;
    }
    

    &::after{
        bottom: 35px;
    }

    @include media-breakpoint-down(lg){
        height: auto;
        padding: 3rem 0px;

        &::after{
            content: none;
        }
    }

}

#home{
    padding-top: 60px;

    .border-animate{
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 600px;
            height: 600px;
            pointer-events: none;
            top: -160px;
            left: -275px;
            background: radial-gradient(circle, #0e3a7c 0%, transparent 73%);
        }
        
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 600px;
            height: 600px;
            top: -400px;
            left: 0px;
            background: radial-gradient(circle, #69131B 0%, transparent 70%);
        }
    }

    .display-custom{
        font-size: 15rem;
        font-weight: 100;
    }

    .fs-home{
        font-weight: 100;
        position: absolute;
        left: 315px;
        top: 20%;
        opacity: .5;
    }
    
    @include media-breakpoint-down(xxl){
        .display-custom{
            font-size: 13rem;
        }
        .fs-home{
            left: 265px;
            top: 15%;
        }
    }
    
    @include media-breakpoint-down(xl){
        .display-custom{
            font-size: 10rem;
        }
        .fs-home{
            left: 181px;
        }
    }
    
    @include media-breakpoint-down(sm){
        .display-custom{
            font-size: 7rem;
        }
        .fs-home{
            left: 123px;
            top: 8%;
        }
    }
}

#jornada{

    .line-time{

        ul{
            position: relative;

            &::before {
                content: '';
                height: 100%;
                width: 1px;
                background: #fff;
                position: absolute;
                left: 10px;
                top: 22px;
            }

            li::marker {
                font-size: 30px;
            }
        }
    }
}

#servicos{

    .cards-servicos{

        .rounded-50{
            border-radius: 70px 150px 150px 70px;
        }
    }

}

#programas{

    .circle{
        position: relative;
        width: 550px;
        height: 550px;
        border: 1px solid #fff;
        border-radius: 1000px;
        right: 270px;

        .prog{        
            position: absolute;
            right: 0;
            
            span{
                color: white;
                font-size: 12px;
                
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 8px;
                    right: -25px;
                    background: #fff;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                }
            }

            img {
                width: 80px;
                position: absolute;
                filter: grayscale(1);
                transition: all .3s ease;
            }

            &.react { top: 5%; right: 27%; img{ bottom: 9px; left: 35px; }}
            &.framer { top: 16%; right: 14.5%; img{ bottom: 6px; left: 48px; }}
            &.webflow { top: 27%; right: 8%; img{ bottom: -10px; left: 75px; }} 
            &.figma { bottom: 36%; right: 5%; img{ bottom: -15px; left: 55px; }}
            &.wordpress { bottom: 24%; right: 10%; img{ top: 4px; left: 76px; }}
            &.laravel { bottom: 11%; right: 20%; img{ top: 6px; left: 80px; }}

            &:hover{

                img{
                    width: 100px;
                    filter: grayscale(0);
                }
            }
            
        }
        
    }

}

#contato{

    label{
        font-size: 20px;
    }

    .form-control{
        background: transparent !important;
        outline: none !important;
        padding-left: 0px;
        border: 0px;
        color: $white !important;
        border-bottom: 1px solid #ffffff8c;
        border-radius: 0px;
        width: 50%;
        font-weight: 100;
        
        @include media-breakpoint-down(md){
            width: 100%;
        }

        &::placeholder{
            color: $light;
            opacity: .5;
            font-size: 14px;
            font-weight: 100;
        }
    }

} 